.cart{
  position: sticky;
  top: 0;
}
.cart-logo img{
  width: 60px;
  border-radius: 50%;
  
}
.profile{
  display: flex;
  margin: 10px;
  align-items: center;
  gap: 10px;
}
.profile-text h5{
  margin-bottom: 0;
  
}
.profile-text p{
  margin-top: 2px;;
}
.maserment{
 
 display: grid;
 grid-template-columns: repeat(3,1fr);

 background-color: white;
 margin: 10px;
 border-radius: 8px;
}
@media screen and (max-width:576px) {
  .maserment{
 
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    background-color: white;
    margin: 10px;
    border-radius: 8px;
   }
  
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.info p{
  margin-top: 0;
}
.info h5{
  margin-bottom: 2px;
}
.total-time{
  background-color: skyblue;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;

}
.break-btn{
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
}
.break-btn input{
  background-color: purple;
  color: white;
  font-size: 20px;
  padding: 10px;
  
  border: none;
  border-radius: 8px;

}
.break-btn input:hover{
  background-color: skyblue;
  color: black;
}